<?php

/* Please modify this file with correct values and rename it to 'config.php' */

return [
    'db' => [
        'driver'   => 'pdo_mysql',
        'user'     => 'homestead',
        'password' => '',
        'dbname'   => 'phonebook',
    ],
    'mode' => 'production'
];
